.currentLocation img{
    height: 150px;
    width: 150px;

    -webkit-filter: grayscale(1) invert(1);
    filter: grayscale(1) invert(1);

    margin: 20px;
}

.item{
    background-color: white;
    margin-top: 30px;
    border-radius: 20px;
    color: black;
    padding: 10px;
}
.item .removeButton{
    width: 20px;
    height: 20px;
    position: relative;
    top: -40px;
    left: 45%;
}